.company_list {
    width: 100%;
    justify-content: space-between;
    h2{
        width: 100%;
    }
    p {

        width: 100%;
        padding-right: 50px;
        margin-bottom: 0;
    }
    button {
        width: 100%;
        align-items: center;
        text-align: center;
        margin-top: 0 !important;
    }
}
