.comments {
    min-height: 150px;
    border-radius: 10px;
    background-color: #FFFFFF;
    border: 1px solid #dee2e6 !important;
    margin-bottom: 20px;
    margin-top: 20px;

    img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin: auto 20px;
    }

    .content_comments {
        display: flex;
        flex-direction: row;
        .body_comments {
            display: flex;
            flex-direction: column;
            flex: 1;
            .comment_user_name {
                display: flex;
                margin: 20px 0;
            }
            .comment_user_name p::after{
                content: "|";
                margin:0 10px;
            }
            .comment_block {
                background-color: #ebf9ff;
                height: 60px;
                border-radius: 10px;
                margin-right: 20px;
                margin-bottom: 20px;
                padding: 10px 10px;
            }
        }
    }
}

.block_comments {
    max-width: 400px;
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s ease;
}
