@media screen and (max-width: 575px) {
    .auth_login,.auth_reg {
        margin-top: 10px;
        .card {
            font-size: 8px!important;
            .form-control, .btn {
                font-size: 6px;
            }
        }
    }
}
